<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzg.iwork.mapper.IworkStudyGoalSortMapper">
  <resultMap id="BaseResultMap" type="com.yzg.iwork.pojo.IworkStudyGoalSort">
    <id column="studyGoalSortId" jdbcType="INTEGER" property="studygoalsortid" />
    <result column="studyGoalSortName" jdbcType="VARCHAR" property="studygoalsortname" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    studyGoalSortId, studyGoalSortName, status
  </sql>
  <select id="selectByExample" parameterType="com.yzg.iwork.pojo.IworkStudyGoalSortExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from iwork_study_goal_sort
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from iwork_study_goal_sort
    where studyGoalSortId = #{studygoalsortid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from iwork_study_goal_sort
    where studyGoalSortId = #{studygoalsortid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yzg.iwork.pojo.IworkStudyGoalSortExample">
    delete from iwork_study_goal_sort
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yzg.iwork.pojo.IworkStudyGoalSort">
    insert into iwork_study_goal_sort (studyGoalSortId, studyGoalSortName, 
      status)
    values (#{studygoalsortid,jdbcType=INTEGER}, #{studygoalsortname,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.yzg.iwork.pojo.IworkStudyGoalSort">
    insert into iwork_study_goal_sort
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="studygoalsortid != null">
        studyGoalSortId,
      </if>
      <if test="studygoalsortname != null">
        studyGoalSortName,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="studygoalsortid != null">
        #{studygoalsortid,jdbcType=INTEGER},
      </if>
      <if test="studygoalsortname != null">
        #{studygoalsortname,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yzg.iwork.pojo.IworkStudyGoalSortExample" resultType="java.lang.Long">
    select count(*) from iwork_study_goal_sort
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update iwork_study_goal_sort
    <set>
      <if test="record.studygoalsortid != null">
        studyGoalSortId = #{record.studygoalsortid,jdbcType=INTEGER},
      </if>
      <if test="record.studygoalsortname != null">
        studyGoalSortName = #{record.studygoalsortname,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update iwork_study_goal_sort
    set studyGoalSortId = #{record.studygoalsortid,jdbcType=INTEGER},
      studyGoalSortName = #{record.studygoalsortname,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yzg.iwork.pojo.IworkStudyGoalSort">
    update iwork_study_goal_sort
    <set>
      <if test="studygoalsortname != null">
        studyGoalSortName = #{studygoalsortname,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where studyGoalSortId = #{studygoalsortid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yzg.iwork.pojo.IworkStudyGoalSort">
    update iwork_study_goal_sort
    set studyGoalSortName = #{studygoalsortname,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER}
    where studyGoalSortId = #{studygoalsortid,jdbcType=INTEGER}
  </update>
</mapper>