<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzg.iwork.mapper.IworkVisitInfoMapper">
  <resultMap id="BaseResultMap" type="com.yzg.iwork.pojo.IworkVisitInfo">
    <id column="visitInfoId" jdbcType="INTEGER" property="visitinfoid" />
    <result column="visitName" jdbcType="VARCHAR" property="visitname" />
    <result column="userId" jdbcType="INTEGER" property="userid" />
    <result column="visitSortId" jdbcType="INTEGER" property="visitsortid" />
    <result column="visitGenreId" jdbcType="INTEGER" property="visitgenreid" />
    <result column="startTime" jdbcType="TIMESTAMP" property="starttime" />
    <result column="endTime" jdbcType="TIMESTAMP" property="endtime" />
    <result column="remindSortId" jdbcType="INTEGER" property="remindsortid" />
    <result column="visitAddr" jdbcType="VARCHAR" property="visitaddr" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.yzg.iwork.pojo.IworkVisitInfo">
    <result column="visitComment" jdbcType="LONGVARCHAR" property="visitcomment" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    visitInfoId, visitName, userId, visitSortId, visitGenreId, startTime, endTime, remindSortId, 
    visitAddr, status
  </sql>
  <sql id="Blob_Column_List">
    visitComment
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.yzg.iwork.pojo.IworkVisitInfoExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from iwork_visit_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.yzg.iwork.pojo.IworkVisitInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from iwork_visit_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from iwork_visit_info
    where visitInfoId = #{visitinfoid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from iwork_visit_info
    where visitInfoId = #{visitinfoid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yzg.iwork.pojo.IworkVisitInfoExample">
    delete from iwork_visit_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yzg.iwork.pojo.IworkVisitInfo">
    insert into iwork_visit_info (visitInfoId, visitName, userId, 
      visitSortId, visitGenreId, startTime, 
      endTime, remindSortId, visitAddr, 
      status, visitComment)
    values (#{visitinfoid,jdbcType=INTEGER}, #{visitname,jdbcType=VARCHAR}, #{userid,jdbcType=INTEGER}, 
      #{visitsortid,jdbcType=INTEGER}, #{visitgenreid,jdbcType=INTEGER}, #{starttime,jdbcType=TIMESTAMP}, 
      #{endtime,jdbcType=TIMESTAMP}, #{remindsortid,jdbcType=INTEGER}, #{visitaddr,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{visitcomment,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yzg.iwork.pojo.IworkVisitInfo">
    insert into iwork_visit_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="visitinfoid != null">
        visitInfoId,
      </if>
      <if test="visitname != null">
        visitName,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="visitsortid != null">
        visitSortId,
      </if>
      <if test="visitgenreid != null">
        visitGenreId,
      </if>
      <if test="starttime != null">
        startTime,
      </if>
      <if test="endtime != null">
        endTime,
      </if>
      <if test="remindsortid != null">
        remindSortId,
      </if>
      <if test="visitaddr != null">
        visitAddr,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="visitcomment != null">
        visitComment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="visitinfoid != null">
        #{visitinfoid,jdbcType=INTEGER},
      </if>
      <if test="visitname != null">
        #{visitname,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="visitsortid != null">
        #{visitsortid,jdbcType=INTEGER},
      </if>
      <if test="visitgenreid != null">
        #{visitgenreid,jdbcType=INTEGER},
      </if>
      <if test="starttime != null">
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="remindsortid != null">
        #{remindsortid,jdbcType=INTEGER},
      </if>
      <if test="visitaddr != null">
        #{visitaddr,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="visitcomment != null">
        #{visitcomment,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yzg.iwork.pojo.IworkVisitInfoExample" resultType="java.lang.Long">
    select count(*) from iwork_visit_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update iwork_visit_info
    <set>
      <if test="record.visitinfoid != null">
        visitInfoId = #{record.visitinfoid,jdbcType=INTEGER},
      </if>
      <if test="record.visitname != null">
        visitName = #{record.visitname,jdbcType=VARCHAR},
      </if>
      <if test="record.userid != null">
        userId = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.visitsortid != null">
        visitSortId = #{record.visitsortid,jdbcType=INTEGER},
      </if>
      <if test="record.visitgenreid != null">
        visitGenreId = #{record.visitgenreid,jdbcType=INTEGER},
      </if>
      <if test="record.starttime != null">
        startTime = #{record.starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endtime != null">
        endTime = #{record.endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remindsortid != null">
        remindSortId = #{record.remindsortid,jdbcType=INTEGER},
      </if>
      <if test="record.visitaddr != null">
        visitAddr = #{record.visitaddr,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.visitcomment != null">
        visitComment = #{record.visitcomment,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update iwork_visit_info
    set visitInfoId = #{record.visitinfoid,jdbcType=INTEGER},
      visitName = #{record.visitname,jdbcType=VARCHAR},
      userId = #{record.userid,jdbcType=INTEGER},
      visitSortId = #{record.visitsortid,jdbcType=INTEGER},
      visitGenreId = #{record.visitgenreid,jdbcType=INTEGER},
      startTime = #{record.starttime,jdbcType=TIMESTAMP},
      endTime = #{record.endtime,jdbcType=TIMESTAMP},
      remindSortId = #{record.remindsortid,jdbcType=INTEGER},
      visitAddr = #{record.visitaddr,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      visitComment = #{record.visitcomment,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update iwork_visit_info
    set visitInfoId = #{record.visitinfoid,jdbcType=INTEGER},
      visitName = #{record.visitname,jdbcType=VARCHAR},
      userId = #{record.userid,jdbcType=INTEGER},
      visitSortId = #{record.visitsortid,jdbcType=INTEGER},
      visitGenreId = #{record.visitgenreid,jdbcType=INTEGER},
      startTime = #{record.starttime,jdbcType=TIMESTAMP},
      endTime = #{record.endtime,jdbcType=TIMESTAMP},
      remindSortId = #{record.remindsortid,jdbcType=INTEGER},
      visitAddr = #{record.visitaddr,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yzg.iwork.pojo.IworkVisitInfo">
    update iwork_visit_info
    <set>
      <if test="visitname != null">
        visitName = #{visitname,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="visitsortid != null">
        visitSortId = #{visitsortid,jdbcType=INTEGER},
      </if>
      <if test="visitgenreid != null">
        visitGenreId = #{visitgenreid,jdbcType=INTEGER},
      </if>
      <if test="starttime != null">
        startTime = #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        endTime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="remindsortid != null">
        remindSortId = #{remindsortid,jdbcType=INTEGER},
      </if>
      <if test="visitaddr != null">
        visitAddr = #{visitaddr,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="visitcomment != null">
        visitComment = #{visitcomment,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where visitInfoId = #{visitinfoid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.yzg.iwork.pojo.IworkVisitInfo">
    update iwork_visit_info
    set visitName = #{visitname,jdbcType=VARCHAR},
      userId = #{userid,jdbcType=INTEGER},
      visitSortId = #{visitsortid,jdbcType=INTEGER},
      visitGenreId = #{visitgenreid,jdbcType=INTEGER},
      startTime = #{starttime,jdbcType=TIMESTAMP},
      endTime = #{endtime,jdbcType=TIMESTAMP},
      remindSortId = #{remindsortid,jdbcType=INTEGER},
      visitAddr = #{visitaddr,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      visitComment = #{visitcomment,jdbcType=LONGVARCHAR}
    where visitInfoId = #{visitinfoid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yzg.iwork.pojo.IworkVisitInfo">
    update iwork_visit_info
    set visitName = #{visitname,jdbcType=VARCHAR},
      userId = #{userid,jdbcType=INTEGER},
      visitSortId = #{visitsortid,jdbcType=INTEGER},
      visitGenreId = #{visitgenreid,jdbcType=INTEGER},
      startTime = #{starttime,jdbcType=TIMESTAMP},
      endTime = #{endtime,jdbcType=TIMESTAMP},
      remindSortId = #{remindsortid,jdbcType=INTEGER},
      visitAddr = #{visitaddr,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER}
    where visitInfoId = #{visitinfoid,jdbcType=INTEGER}
  </update>
</mapper>