<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzg.iwork.mapper.IworkBooksSourceMapper">
  <resultMap id="BaseResultMap" type="com.yzg.iwork.pojo.IworkBooksSource">
    <id column="booksSourceId" jdbcType="INTEGER" property="bookssourceid" />
    <result column="booksSourceName" jdbcType="VARCHAR" property="bookssourcename" />
    <result column="booksSourceAddr" jdbcType="VARCHAR" property="bookssourceaddr" />
    <result column="openSortId" jdbcType="INTEGER" property="opensortid" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    booksSourceId, booksSourceName, booksSourceAddr, openSortId, status
  </sql>
  <select id="selectByExample" parameterType="com.yzg.iwork.pojo.IworkBooksSourceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from iwork_books_source
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from iwork_books_source
    where booksSourceId = #{bookssourceid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from iwork_books_source
    where booksSourceId = #{bookssourceid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yzg.iwork.pojo.IworkBooksSourceExample">
    delete from iwork_books_source
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yzg.iwork.pojo.IworkBooksSource">
    insert into iwork_books_source (booksSourceId, booksSourceName, booksSourceAddr, 
      openSortId, status)
    values (#{bookssourceid,jdbcType=INTEGER}, #{bookssourcename,jdbcType=VARCHAR}, #{bookssourceaddr,jdbcType=VARCHAR}, 
      #{opensortid,jdbcType=INTEGER}, #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.yzg.iwork.pojo.IworkBooksSource">
    insert into iwork_books_source
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bookssourceid != null">
        booksSourceId,
      </if>
      <if test="bookssourcename != null">
        booksSourceName,
      </if>
      <if test="bookssourceaddr != null">
        booksSourceAddr,
      </if>
      <if test="opensortid != null">
        openSortId,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bookssourceid != null">
        #{bookssourceid,jdbcType=INTEGER},
      </if>
      <if test="bookssourcename != null">
        #{bookssourcename,jdbcType=VARCHAR},
      </if>
      <if test="bookssourceaddr != null">
        #{bookssourceaddr,jdbcType=VARCHAR},
      </if>
      <if test="opensortid != null">
        #{opensortid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yzg.iwork.pojo.IworkBooksSourceExample" resultType="java.lang.Long">
    select count(*) from iwork_books_source
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update iwork_books_source
    <set>
      <if test="record.bookssourceid != null">
        booksSourceId = #{record.bookssourceid,jdbcType=INTEGER},
      </if>
      <if test="record.bookssourcename != null">
        booksSourceName = #{record.bookssourcename,jdbcType=VARCHAR},
      </if>
      <if test="record.bookssourceaddr != null">
        booksSourceAddr = #{record.bookssourceaddr,jdbcType=VARCHAR},
      </if>
      <if test="record.opensortid != null">
        openSortId = #{record.opensortid,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update iwork_books_source
    set booksSourceId = #{record.bookssourceid,jdbcType=INTEGER},
      booksSourceName = #{record.bookssourcename,jdbcType=VARCHAR},
      booksSourceAddr = #{record.bookssourceaddr,jdbcType=VARCHAR},
      openSortId = #{record.opensortid,jdbcType=INTEGER},
      status = #{record.status,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yzg.iwork.pojo.IworkBooksSource">
    update iwork_books_source
    <set>
      <if test="bookssourcename != null">
        booksSourceName = #{bookssourcename,jdbcType=VARCHAR},
      </if>
      <if test="bookssourceaddr != null">
        booksSourceAddr = #{bookssourceaddr,jdbcType=VARCHAR},
      </if>
      <if test="opensortid != null">
        openSortId = #{opensortid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where booksSourceId = #{bookssourceid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yzg.iwork.pojo.IworkBooksSource">
    update iwork_books_source
    set booksSourceName = #{bookssourcename,jdbcType=VARCHAR},
      booksSourceAddr = #{bookssourceaddr,jdbcType=VARCHAR},
      openSortId = #{opensortid,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER}
    where booksSourceId = #{bookssourceid,jdbcType=INTEGER}
  </update>
</mapper>