<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzg.iwork.mapper.IworkBandRecordInfoMapper">
  <resultMap id="BaseResultMap" type="com.yzg.iwork.pojo.IworkBandRecordInfo">
    <id column="bandRecordInfoId" jdbcType="INTEGER" property="bandrecordinfoid" />
    <result column="bandRecordSortId" jdbcType="INTEGER" property="bandrecordsortid" />
    <result column="userId" jdbcType="INTEGER" property="userid" />
    <result column="bandRecordTitle" jdbcType="VARCHAR" property="bandrecordtitle" />
    <result column="bandRecordAddr" jdbcType="VARCHAR" property="bandrecordaddr" />
    <result column="bandRecordSourceId" jdbcType="INTEGER" property="bandrecordsourceid" />
    <result column="bandAnchorId" jdbcType="INTEGER" property="bandanchorid" />
    <result column="addTime" jdbcType="TIMESTAMP" property="addtime" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    bandRecordInfoId, bandRecordSortId, userId, bandRecordTitle, bandRecordAddr, bandRecordSourceId, 
    bandAnchorId, addTime, status
  </sql>
  <select id="selectByExample" parameterType="com.yzg.iwork.pojo.IworkBandRecordInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from iwork_band_record_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from iwork_band_record_info
    where bandRecordInfoId = #{bandrecordinfoid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from iwork_band_record_info
    where bandRecordInfoId = #{bandrecordinfoid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yzg.iwork.pojo.IworkBandRecordInfoExample">
    delete from iwork_band_record_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yzg.iwork.pojo.IworkBandRecordInfo">
    insert into iwork_band_record_info (bandRecordInfoId, bandRecordSortId, 
      userId, bandRecordTitle, bandRecordAddr, 
      bandRecordSourceId, bandAnchorId, addTime, 
      status)
    values (#{bandrecordinfoid,jdbcType=INTEGER}, #{bandrecordsortid,jdbcType=INTEGER}, 
      #{userid,jdbcType=INTEGER}, #{bandrecordtitle,jdbcType=VARCHAR}, #{bandrecordaddr,jdbcType=VARCHAR}, 
      #{bandrecordsourceid,jdbcType=INTEGER}, #{bandanchorid,jdbcType=INTEGER}, #{addtime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.yzg.iwork.pojo.IworkBandRecordInfo">
    insert into iwork_band_record_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bandrecordinfoid != null">
        bandRecordInfoId,
      </if>
      <if test="bandrecordsortid != null">
        bandRecordSortId,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="bandrecordtitle != null">
        bandRecordTitle,
      </if>
      <if test="bandrecordaddr != null">
        bandRecordAddr,
      </if>
      <if test="bandrecordsourceid != null">
        bandRecordSourceId,
      </if>
      <if test="bandanchorid != null">
        bandAnchorId,
      </if>
      <if test="addtime != null">
        addTime,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bandrecordinfoid != null">
        #{bandrecordinfoid,jdbcType=INTEGER},
      </if>
      <if test="bandrecordsortid != null">
        #{bandrecordsortid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="bandrecordtitle != null">
        #{bandrecordtitle,jdbcType=VARCHAR},
      </if>
      <if test="bandrecordaddr != null">
        #{bandrecordaddr,jdbcType=VARCHAR},
      </if>
      <if test="bandrecordsourceid != null">
        #{bandrecordsourceid,jdbcType=INTEGER},
      </if>
      <if test="bandanchorid != null">
        #{bandanchorid,jdbcType=INTEGER},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yzg.iwork.pojo.IworkBandRecordInfoExample" resultType="java.lang.Long">
    select count(*) from iwork_band_record_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update iwork_band_record_info
    <set>
      <if test="record.bandrecordinfoid != null">
        bandRecordInfoId = #{record.bandrecordinfoid,jdbcType=INTEGER},
      </if>
      <if test="record.bandrecordsortid != null">
        bandRecordSortId = #{record.bandrecordsortid,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null">
        userId = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.bandrecordtitle != null">
        bandRecordTitle = #{record.bandrecordtitle,jdbcType=VARCHAR},
      </if>
      <if test="record.bandrecordaddr != null">
        bandRecordAddr = #{record.bandrecordaddr,jdbcType=VARCHAR},
      </if>
      <if test="record.bandrecordsourceid != null">
        bandRecordSourceId = #{record.bandrecordsourceid,jdbcType=INTEGER},
      </if>
      <if test="record.bandanchorid != null">
        bandAnchorId = #{record.bandanchorid,jdbcType=INTEGER},
      </if>
      <if test="record.addtime != null">
        addTime = #{record.addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update iwork_band_record_info
    set bandRecordInfoId = #{record.bandrecordinfoid,jdbcType=INTEGER},
      bandRecordSortId = #{record.bandrecordsortid,jdbcType=INTEGER},
      userId = #{record.userid,jdbcType=INTEGER},
      bandRecordTitle = #{record.bandrecordtitle,jdbcType=VARCHAR},
      bandRecordAddr = #{record.bandrecordaddr,jdbcType=VARCHAR},
      bandRecordSourceId = #{record.bandrecordsourceid,jdbcType=INTEGER},
      bandAnchorId = #{record.bandanchorid,jdbcType=INTEGER},
      addTime = #{record.addtime,jdbcType=TIMESTAMP},
      status = #{record.status,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yzg.iwork.pojo.IworkBandRecordInfo">
    update iwork_band_record_info
    <set>
      <if test="bandrecordsortid != null">
        bandRecordSortId = #{bandrecordsortid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="bandrecordtitle != null">
        bandRecordTitle = #{bandrecordtitle,jdbcType=VARCHAR},
      </if>
      <if test="bandrecordaddr != null">
        bandRecordAddr = #{bandrecordaddr,jdbcType=VARCHAR},
      </if>
      <if test="bandrecordsourceid != null">
        bandRecordSourceId = #{bandrecordsourceid,jdbcType=INTEGER},
      </if>
      <if test="bandanchorid != null">
        bandAnchorId = #{bandanchorid,jdbcType=INTEGER},
      </if>
      <if test="addtime != null">
        addTime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where bandRecordInfoId = #{bandrecordinfoid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yzg.iwork.pojo.IworkBandRecordInfo">
    update iwork_band_record_info
    set bandRecordSortId = #{bandrecordsortid,jdbcType=INTEGER},
      userId = #{userid,jdbcType=INTEGER},
      bandRecordTitle = #{bandrecordtitle,jdbcType=VARCHAR},
      bandRecordAddr = #{bandrecordaddr,jdbcType=VARCHAR},
      bandRecordSourceId = #{bandrecordsourceid,jdbcType=INTEGER},
      bandAnchorId = #{bandanchorid,jdbcType=INTEGER},
      addTime = #{addtime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER}
    where bandRecordInfoId = #{bandrecordinfoid,jdbcType=INTEGER}
  </update>
</mapper>