<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzg.iwork.mapper.IworkVideoRecordSortMapper">
  <resultMap id="BaseResultMap" type="com.yzg.iwork.pojo.IworkVideoRecordSort">
    <id column="videoRecordSortId" jdbcType="INTEGER" property="videorecordsortid" />
    <result column="videoRecordSortName" jdbcType="VARCHAR" property="videorecordsortname" />
    <result column="userId" jdbcType="INTEGER" property="userid" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    videoRecordSortId, videoRecordSortName, userId, status
  </sql>
  <select id="selectByExample" parameterType="com.yzg.iwork.pojo.IworkVideoRecordSortExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from iwork_video_record_sort
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from iwork_video_record_sort
    where videoRecordSortId = #{videorecordsortid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from iwork_video_record_sort
    where videoRecordSortId = #{videorecordsortid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yzg.iwork.pojo.IworkVideoRecordSortExample">
    delete from iwork_video_record_sort
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yzg.iwork.pojo.IworkVideoRecordSort">
    insert into iwork_video_record_sort (videoRecordSortId, videoRecordSortName, 
      userId, status)
    values (#{videorecordsortid,jdbcType=INTEGER}, #{videorecordsortname,jdbcType=VARCHAR}, 
      #{userid,jdbcType=INTEGER}, #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.yzg.iwork.pojo.IworkVideoRecordSort">
    insert into iwork_video_record_sort
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="videorecordsortid != null">
        videoRecordSortId,
      </if>
      <if test="videorecordsortname != null">
        videoRecordSortName,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="videorecordsortid != null">
        #{videorecordsortid,jdbcType=INTEGER},
      </if>
      <if test="videorecordsortname != null">
        #{videorecordsortname,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yzg.iwork.pojo.IworkVideoRecordSortExample" resultType="java.lang.Long">
    select count(*) from iwork_video_record_sort
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update iwork_video_record_sort
    <set>
      <if test="record.videorecordsortid != null">
        videoRecordSortId = #{record.videorecordsortid,jdbcType=INTEGER},
      </if>
      <if test="record.videorecordsortname != null">
        videoRecordSortName = #{record.videorecordsortname,jdbcType=VARCHAR},
      </if>
      <if test="record.userid != null">
        userId = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update iwork_video_record_sort
    set videoRecordSortId = #{record.videorecordsortid,jdbcType=INTEGER},
      videoRecordSortName = #{record.videorecordsortname,jdbcType=VARCHAR},
      userId = #{record.userid,jdbcType=INTEGER},
      status = #{record.status,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yzg.iwork.pojo.IworkVideoRecordSort">
    update iwork_video_record_sort
    <set>
      <if test="videorecordsortname != null">
        videoRecordSortName = #{videorecordsortname,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where videoRecordSortId = #{videorecordsortid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yzg.iwork.pojo.IworkVideoRecordSort">
    update iwork_video_record_sort
    set videoRecordSortName = #{videorecordsortname,jdbcType=VARCHAR},
      userId = #{userid,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER}
    where videoRecordSortId = #{videorecordsortid,jdbcType=INTEGER}
  </update>
</mapper>